.font50{
    font-size: 50px;
}
.font40{
    font-size: 40px;
}
.font30{
    font-size: 30px;
}
.font20{
    font-size: 20px;
}

.services-1 .text{
    margin-top: 6px;
}

.invisible{
    visibility: hidden;
}
